# requirements file
# note which revision of python, for example 3.9.6
# in this file, insert all the pip install needs, include revision

#for example:
#torch==2.0.1
numpy
matplotlib

openinference-instrumentation==0.1.21
arize-phoenix-otel==0.7.1
arize-phoenix
openai
httpx<0.28
openinference-instrumentation-openai


sqlalchemy
aiosqlite
tqdm
duckdb

python-dotenv
